form action="/login" method="POST"
    input type="text" name="Användarnamn" placeholder="Användarnamn"
    input type="integer" name="Lösenord" placeholder="Lösenord"
    input type="sumbit" value="Logga in"