form action="/sjukdomar/new" method="POST"
    input type="text" name="title" placeholder="Namn på sjukdomen"
    input type="hidden" name="Sjuk_id" placeholder="Id på sjukdomen"
    input type="submit" value="Lägg till sjukdom"