h1 = result

p Här finns fakta om #{result["Namn"]}.
p Här är sjukdomens Id #{result["Sjuk_id"]}.

h3 Sjukdom/tillstånd
p Narkolepsi är en neurologisk sjukdom som innebär att hjärnan inte kan styra över vakenhet och sömn. Det gör att personer med sjukdomen blir mycket trötta under dagen och får sömnattacker som inte går att förhindra. Till symtomen hör också kataplexi som innebär plötslig kraftlöshet och en känsla av förlamning i samband med känslor som glädje och ilska. En del får hallucinationer strax innan de somnar eller vaknar.

p Narkolepsi delas in i två typer. Typ 1 beror på en autoimmun reaktion som innebär att kroppens immunsystem angriper de hjärnceller som producerar ett hormon som reglerar vakenhet och sömn. Personer som fick symtom efter att ha vaccinerats med vaccinet Pandemrix har narkolepsi typ 1. Vid narkolepsi typ 2 är symtomen oftast lindrigare. Orsaken till typ 2 är fortfarande okänd.

p Sjukdomen går inte att bota men symtomen kan lindras med läkemedel.

p Den första beskrivningen av narkolepsi gjordes 1877 av den tyske neurologen Carl Friedrich Otto Westphal. Den franske neurologen Jean Baptiste Edouard Gélineau gav några år senare sjukdomen dess namn.

h3 Förekomst
p Den exakta förekomsten är inte känd, men i internationell litteratur anges att upp till 50 personer per 100 000 invånare har narkolepsi i någon form. Det skulle motsvara ungefär 4 500 personer i Sverige.

De närmaste åren efter vaccineringen med Pandemrix insjuknade minst 350 barn och unga vuxna i narkolepsi i Sverige.

h3 Orsak
p Narkolepsi delas in i två typer. Typ 1 orsakas av en autoimmun reaktion i immunsystemet som förstör celler i centrala delar av hjärnan (hypotalamus). Det påverkar hjärnans förmåga att producera det sömnreglerande hormonet orexin (hypokretin).

p Nästan alla (98 procent) med narkolepsi typ 1 har vävnadstypen HLA (human leucocyte antigen) DQB1*06:02. HLA är proteiner på cellernas yta med viktiga funktioner i immunsystemet. HLA presenterar främmande och kroppsegna ämnen för T-cellerna som är en sorts vita blodkroppar. Kroppsegna ämnen ska normalt kännas igen och inte utlösa en försvarsreaktion, men ibland startar en försvarsreaktion även mot kroppsegna ämnen (autoimmun reaktion). Vid vävnadstypen HLA-DQB1*06:02 ökar risken för en autoimmun reaktion som innebär att kroppens immunförsvar angriper och förstör nervceller i hypotalamus som producerar hormonet orexin. Hormonet behövs bland annat för att reglera vakenhet och sömn. Personer med narkolepsi typ 1 saknar helt eller delvis de celler i hypotalamus som producerar orexin.

p Ungefär en femtedel av befolkningen har vävnadstypen HLA-DQB1*06:02 men alla insjuknar inte i narkolepsi. Det betyder att det krävs fler faktorer för att reaktionen i immunsystemet ska utlösas och orsaka narkolepsi. En sådan faktor var vaccinet Pandemrix och troligen också influensa A(H1N1), tidigare kallad svininfluensa.

p När influensa A(H1N1) började spridas i världen 2009 var dödstalen i Mexico och USA höga vilket talade för en allvarlig pandemi. Snabbt utvecklades ett antal vacciner. I Sverige användes Pandemrix. Efter vaccineringen konstaterades en betydande ökning av antalet barn, tonåringar och vuxna som insjuknat i narkolepsi. Samtliga hade vävnadstyp HLA-DQB1*06:02. Det är inte helt klarlagt varför just vaccinet Pandemrix ökade risken för narkolepsi, även om det finns ett statistiskt samband mellan vaccinet och ökad risk för sjukdomen. En tidigare förklaring var att Pandemrix innehöll en adjuvans (AS03) som ökade vaccinets immunstimulerande effekt. I dag tror man att förklaringen i stället är att Pandemrix bland annat hade något högre koncentration av virala kärnproteiner jämfört med andra vaccin mot A(H1N1).

p Vid narkolepsi typ 2 är orsaken okänd och produktionen av sömnreglerande hormon är normal. Personer med narkolepsi 2 har inte heller vävnadstyp HLA-DQB1*06:02 i högre utsträckning än normalbefolkningen.

p Symtom som är typiska för narkolepsi kan förekomma vid andra sjukdomar som drabbar de delar av hjärnan som producerar orexin, till exempel tumörsjukdomar eller stroke.

p Det finns även ärftliga sjukdomar med symtom som liknar dem vid narkolepsi, till exempel Niemann-Picks sjukdom typ C, Prader-Willis syndrom, dystrofia myotonika, Norries sjukdom, Coffin-Lowrys syndrom samt Möbius syndrom. I Socialstyrelsens databas om ovanliga diagnoser finns separata informationsmaterial om Prader-Willis syndrom, dystrofia myotonika, Coffin-Lowrys syndrom och Möbius syndrom.

h3 Ärftlighet
p Vävnadstypen HLA-DQB1*06:02 är ärftlig. Om en av föräldrarna har vävnadstypen är sannolikheten att barnen ärver den 50 procent. De flesta med vävnadstypen är dock friska, och sannolikheten att insjukna i narkolepsi är högst 0,25 procent (1/400).

h3 Symtom
p Narkolepsi kännetecknas av dagtrötthet och sömnighet som inte går över, ofrivilliga attacker av sömn och kataplexi. Symtomen visar sig ofta i tonåren och för det mesta före 30 års ålder. Hos tio procent börjar sjukdomen före tio års ålder. Symtomen kan variera från mycket lindriga symtom som inte påverkar det dagliga livet till svåra symtom som gör det omöjligt att leva som vanligt.

p Narkolepsi typ 1 leder till brist på det sömnreglerande hormonet orexin. Det gör att nattsömnen blir störd, med många uppvaknande och minskad mängd djupsömn. Under djupsömn bearbetas minnen vilket har stor betydelse för minne och inlärning. Minskad mängd djupsömn kan därmed påverka koncentrationen och inlärningsförmågan hos personer med narkolepsi, samtidigt som de blir tröttare och sömnigare under dagen. Hos många kan det leda till nedstämdhet och svårigheter att orka med social samvaro, studier och arbete. Under djupsömn produceras också många hormoner som är viktiga för kroppen, till exempel tillväxthormon. Påverkad hormonproduktion kan förändra ämnesomsättningen och leda till viktuppgång och tidig pubertet hos barn.

p REM-sömn, som ibland kallas drömsömn, är sömnperioder som kännetecknas av snabba, periodiska ögonrörelser (rapid eye movement, REM). Under REM-sömnen är hjärnan aktiv, men de viljestyrda musklerna i kroppen är förlamade. Hos personer med narkolepsi kan REM-sömnen komma onormalt snabbt. Det utlöser plötsliga sömnattacker med förlamningar och ibland även hallucinationer. Attackerna kommer ofta vid stillsamma eller monotona aktiviteter och kan vara mycket besvärande, och ibland direkt farliga eftersom de kan leda till olyckor. En person som har en sömnattack får själv en minneslucka men kan se ut att fungera normalt (automatiskt beteende).

p De flesta med narkolepsi (75 procent) har också kataplexi som är attacker då de plötsligt förlorar muskelkontroll. Det kan innebära allt från att hakan faller ned och talet blir otydligt till att knäna viker sig eller att hela kroppen förlamas. Det är vanligt att attackerna kommer i samband med glädje och skratt men de kan också utlösas av ilska, rädsla, överraskningar och stress. Ibland påverkar kataplexi musklerna i ansiktet så att munnen hålls öppen med tungan utanför. I svåra fall kan det påverka tandstatus.

p Sömnparalys förekommer hos ungefär en fjärdedel och är en tillfällig oförmåga att prata eller röra sig som brukar inträffa vid insomning eller uppvaknande. Känslan av förlamning kan vara i några sekunder eller minuter. En del får också hallucinationer strax innan de somnar eller vaknar (hypnagoga respektive hypnopompa hallucinationer). Hallucinationerna är hörsel-, syn- och känselintryck som upplevs som verkliga.

p Narkolepsi påverkar det dagliga livet i skolan och i arbetslivet. Dagsömnigheten gör det svårt att hålla sig vaken och kan innebära risker vid vardagliga aktiviteter som bilkörning och matlagning. Kataplexi innebär en risk att falla ihop vid sinnesrörelse, framför allt när man skrattar, men också när man blir överraskad, ledsen eller sexuellt stimulerad.

h3 Diagnostik
p Diagnosen ställs utifrån de typiska symtomen som är nedsatt sömnkvalitet, ökad dagtrötthet, sömnattacker och kataplexi. Trötthet och sömnighet är vanliga symtom vid andra sjukdomar och tillstånd, men hos personer med narkolepsi går tröttheten inte över. Även friska personer med extrem sömnbrist kan ha sömnparalys och hallucinationer, men sällan kataplexi. Hos personer med narkolepsi kan sömnparalys och hallucinationer försvinna med tiden, men inte dagsömnighet, sömnattacker och kataplexi. Karaktäristiskt för narkolepsi är också att känna sig tillfälligt utvilad efter mycket kort sömn, som bara varat i 10-15 minuter. Hos små barn kan ovanligt lång nattsömn eller fler sovstunder på dagen vara symtom på narkolepsi.

p Multipel sömnlatenstest (MSLT) används för att mäta hur snabbt en person somnar, hur snabbt REM-sömn inträffar och hur många gånger REM-sömn inträffar under de fem insomningsförsök som ingår i en undersökning (sleep onset REM, SOREMP). För att testet ska ge ett tillförlitligt resultat krävs minst sex timmars sömn natten före. Sömn- och vakenhetsgraden mäts med polysomnografi (PSG) eller actigrafi. Polysomnografi registrerar sömnmönster och sömnkvalitet under en natts sömn. Actigrafi mäter sömn- och vakenhetsgraden under en hel vecka.

p Koncentrationen av orexin (hypokretin 1) kan mätas i ryggmärgsvätskan genom en lumbalpunktion.

p Den typiska HLA-typen DQB1*06:02 går att bestämma genom ett blodprov.

p Undersökningar med datortomografi (CT) och magnetkamera (MR) kan användas för att utesluta sjukdomar som kan ge samma symtom som de som finns vid narkolepsi.

h3 Behandling/stöd
p Det finns ingen behandling som botar narkolepsi, men symtomen kan lindras med läkemedel och strategier för att förbättra sömnen och hantera dagtröttheten. Behandlingen är individuell och beror på symtomen. Det är viktigt med regelbundna sömnvanor och sju-åtta timmars sömn varje natt. För att orka med dagen behövs ofta ett par korta vilopauser. Det är också bra att träna regelbundet.

p Centralstimulerande läkemedel som modafinil och metylfenidat kan användas för att lindra dagsömnighet. Klomipramin och serotoninförstärkande läkemedel (SSRI-preparat) används för att förebygga kataplexiattacker.

p Natriumoxybat (GHB) är ett läkemedel som dämpar aktiviteten i centrala nervsystemet vilket kan minska dagsömnighet och kataplexi. Läkemedlet antas ha effekt på djupsömnen, men den exakta mekanismen är okänd. Natriumoxybat är endast godkänt för behandling av vuxna.

p Läkemedlet pitolisant är en histamin-receptorantagonist som 2017 godkändes för behandling av vuxna med narkolepsi.

p Psykologiskt och socialt stöd är viktigt, både för den som har narkolepsi och för de närstående.

p Det viktigt att skolan får information om sjukdomen, att personal och klasskamrater förstår vad sjukdomen innebär och att det finns en plan för hur eleven ska få stöd från skolan för att nå lärandemålen. En fysioterapeut och en arbetsterapeut kan ge råd om hur den fysiska miljön kan anpassas, till exempel med bra belysning, höj- och sänkbara skrivbord och vilorum. Det finns också tekniska lösningar som kan användas för påminnelser och planering, till exempel appar till mobiltelefoner.

p Inför ett utbildningsval eller yrkesval behöver personer med narkolepsi ta ställning till faktorer som ökar risken för symtom, till exempel alltför stillasittande och enformiga arbeten eller arbeten där symtomen kan medföra stora risker.

p Arbetsförmedlingen ger vägledning vid funktionsnedsättning som påverkar arbetsförmågan och Försäkringskassan samordnar de insatser som behövs.